body{
    font: 20px arial, sans-serif;
}


.navbar{
    background-color: #EAE5E2;
    
}

.quem-somos{
    background-color: #489894;
    color: white ;
}

.margin{
    padding-bottom: 50px;;
    padding-top: 10px;
}

.parceiros{
    background-color:#6D667D
    ;
}

.bg-footer{
    background-color: 131724;
    color: black;
}